.hero-block {
  background-color: var(--green);
  padding: 0 16px;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 40px;
  padding: 40px 0 70px 0;
  color: var(--white);

  h1 {
    font-size: 32px;
    line-height: 54px;
    margin-bottom: 43px;
  }
  .hero-desc {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  input[type='email'] {
    border-radius: 5px !important;
  }
  @include respond-to('small') {
    grid-template-columns: 550px 525px;
    justify-content: space-between;
    padding: 100px 0;
    h1 {
      font-size: 38px;
      line-height: 54px;
      margin-bottom: 43px;
    }
  }
}

.value-props {
  width: 100%;
  max-width: 420px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 15px;
  margin: 0 auto;

}

.value-prop {
  text-align: center;
  > img {
    max-width: 45px;
  }
  > h3 {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 32px;
  }
}

.form-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > p {
    max-width: 400px;
    text-align: center;
  }
}
.klaviyo-form {
  width: 100%;
  flex-shrink: 0;
}

.mosaic {
  display: grid;
  gap: 0 15px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 40px;
  @include respond-to('small') {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
    justify-self: end;
    margin: 0;
  }
}

.tile {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  overflow: hidden;
  box-shadow: 1px 3px 36px -3px rgba(0, 0, 0, 0.48);
}

.tile-tall {
  height: 273px;
  width: 100%;
  border-radius: 20px;
  background-color: pink;
  @include respond-to('small') {
    grid-row-end: span 2;
    height: 493px;
    width: 295px;
  }
}

.tile-short {
  height: 200px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  @include respond-to('small') {
    height: 200px;
    width: 200px;
  }
}

.tile-med {
  height: 273px;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  background-color: #FBC652;
  >img{
    object-fit: contain;

  }
  @include respond-to('small') {
    height: 273px;
    width: 200px;
  }
}
