.product-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 32px;
}

.product-image {
  height: 200px;
  margin-bottom: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 14px 48px rgba(28, 65, 84, 0.06),
    0px 24px 64px rgba(28, 65, 84, 0.04);
}

.product-card {
  text-align: center;
  > h4 {
  }
}
