// global
@import './global/reset';
@import './global/variables';

$breakpoints: (
  'small': 670px,
  'medium': 992px,
  'large': 1200px,
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --green: #89cbc7;
  --green-dk: #3e8e8e;
  --yellow: #feba59;
  --yellow-lt: #fef7dc;
  --black: #2d3436;
  --white: #fdfdfd;
  --text: #5c5c5c;
  --text-lt: #2d4861;
  --gray-soft: #e3e3e3;
  --border: #bcbcbc;
  --border-lt: #eeeedd;
  --bg: #fff8ee;
  --max-width: 1100px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: var(--black);
  font-weight: 400;
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 12px;
  font-weight: 700;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  box-shadow: 0px 4px 8px 0px rgba(38, 50, 56, 0.08),
    0px 2px 4px 0px rgba(38, 50, 56, 0.16);
  @include respond-to('small') {
    height: 92px;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4.25px;
    margin: 0;
  }
  img {
    margin-right: 24px;
    max-height: 40px;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  > a {
    text-decoration: none;
    font-size: 16px;
    color: var(--green-dk);
  }
  > span {
    display: block;
    height: 9px;
    width: 9px;
    margin: 0 22px;
    border-radius: 50%;
    background-color: var(--yellow);
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.heading {
  position: relative;
  font-size: 22px;
  color: var(--green);
  margin-bottom: 32px;
  letter-spacing: 1px;
  text-align: center;
  grid-column: 1/-1;
  scroll-margin-top: 100px;
  span {
    position: relative;
    display: inline-block;
    background-color: var(--bg);
    padding: 0 10px;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--green);
    opacity: 0.6;
  }

  &.with-margin {
    margin-top: 40px;
  }

  @include respond-to('small') {
    //text-align: left;

    &.with-margin {
      margin-top: 88px;
    }
  }
}

main {
  width: 100%;
  &.shade {
    background-color: var(--green);
  }
}

aside {
  display: none;
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 32px;

  @include respond-to('small') {
    grid-template-columns: 1fr 1fr;
  }

  p + h2 {
    margin-top: 40px;
  }
}

.logo-wrap {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 0;

  > h1 {
    font-size: 28px;
    color: var(--bg);
    letter-spacing: 1px;
  }

  @include respond-to('small') {
    > h1 {
      font-size: 38px;
      color: var(--bg);
      letter-spacing: 1px;
    }
  }
}

.content {
  padding: 30px;
}

.contact {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 16px 0;

  @include respond-to('small') {
    grid-template-columns: 1fr 1px 1fr;
  }
}

footer {
  width: 100%;
  height: 600px;
  position: relative;
  padding: 30px 16px;
  background-color: var(--white);
  @include respond-to('small') {
    height: 390px;
  }
}

.footer-content {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px 0;
  padding: 16px;

  @include respond-to('small') {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    color: #adadad;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
  }
}

.social {
  display: flex;
  align-items: center;
  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: var(--yellow);
    }
  }
}

.term-links {
  text-align: center;
  > a {
    display: block;
    margin-bottom: 18px;
    color: #2d3436;
    text-decoration: none;
  }
}

.mailto {
  color: var(--green-dk);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.25px;
  text-align: center;
}

.custom-shape-divider-bottom-1613427802 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1613427802 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1613427802 .shape-fill {
  fill: #feba59;
}

.terms {
  background-color: #efefef;
  padding: 32px 16px;
  line-height: 1.7;
  section {
    max-width: 1000px;
    h2 {
      color: var(--green-dk);
      font-size: 22px;
      margin: 32px 0 16px 0;
    }
  }
  ol {
    list-style-type: upper-roman;
    li {
      list-style-type: decimal;
      color: var(--green-dk);
      font-size: 22px;
      margin: 32px 0 16px 0;
      display: block;
      line-height: 1.5;
      margin-bottom: 12px;
    }
  }
}
// HERO SECTION
@import './sections/hero';

// ABOUT SECTION
@import './sections/about';

// HOW IT WORKS SECTION
@import './sections/hiw';

// PRODUCTS
@import './sections/products';
